# Required fields for endtb

bahmni_repo_url: "{{ bahmni_repo_url }}/"
implementation_name: endtb
timezone: "{{ timezone }}"
omods: "{{ omods }}"

# Optional fields for endtb

selinux_state: "{{ selinux_state }}"
openmrs_server_options: "{{ openmrs_server_options }}"
mysql_root_password: "{{ mysql_root_password }}"
openmrs_user_password: "{{ openmrs_user_password }}"
openmrs_db_password: "{{ openmrs_db_password }}"
