# Required fields for endtb

bahmni_repo_url: "{{ bahmni_repo_url }}/"
implementation_name: endtb
timezone: "{{ timezone }}"
omods: "{{ omods }}"

postgres_repo_download_url: "https://yum-archive.postgresql.org/9.2/redhat/rhel-6-x86_64/pgdg-centos92-9.2-7.noarch.rpm"
postgres_repo_rpm_name: pgdg-centos92-9.2-7.noarch.rpm

# Optional fields for endtb

selinux_state: "{{ selinux_state }}"
openmrs_server_options: "{{ openmrs_server_options }}"
mysql_root_password: "{{ mysql_root_password }}"
openmrs_user_password: "{{ openmrs_user_password }}"
openmrs_db_password: "{{ openmrs_db_password }}"
